
* {
    margin : 0;
    box-sizing: border-box;
}

header {
    width : 100hv;
    background-color: black;
    padding: 30px;
}

header > nav > a, header > nav > div > a {
    display: inline-block;
    text-decoration: none;
    color : white;
    background-color: black;
}


.row::after, menu::after {
    content: "";
    display: table;
    clear: both;
} 

.logo {
    float: left;
}

.menu {
    float : right;
}

.menu > a {
    margin-left: 30px;
}

.menu > a:last-child {
    display : none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.main-img > img {
    padding: 10px 10px 10px 10px;
    height: auto;
    width: 100%;
}

.projects  > h2 {
    margin-bottom: 15px;
    margin-left: 10px;
    color: slategray;
    border-bottom : 1px solid slategray;
    padding-bottom: 10px;
    width: 98%; /* to make the border shorter than the page */
}

.project {
    float : left ;
}

.project {
    margin-top: 15px;
}

.project > h4, .project > p {
    margin: 10px 10px 10px 10px;
}

.project > img {
    width: 100%;
    display : inline-block;
    height: auto;
    padding: 10px 0px 5px 10px;
}

.project > button {
    display: inline-block;
    padding: 7px 0px 5px 10px;
    margin-left : 10px;
    color: black;
    background-color: rgb(192,192,192);
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}

footer {
    background-color: black;
    text-align: center;
    margin-top : 20px;
    padding: 10px 10px 10px 10px;
    color: white;
}

footer > a {
    color : white;
}

@media only screen and (max-width: 600px) {
    
    [class*="col-"] {
        width: 100%;
    }

    .menu a:not(:last-child)
    {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
        position: relative;
        bottom: 6px;
    }
}
      
@media screen and (max-width: 600px) {

    /* .menu.responsive .icon {
        background-color: black;
    }
    
    .menu.responsive a:not(:last-child) {
          display: inline-block; 
    } */

    .menu.responsive a:last-child {
        display: none;
    }
    .menu {
        position: relative;
        float: none;
    }
    
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
      position: relative;
      top: 20px;
    }
}